@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
}

button,
.form__submit {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  overflow: hidden;
}

.header {
  background-color: #1C1A19;
  padding-top: 21px;
  padding-bottom: 20px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 269px;
}

.header__nav {
  margin-right: 23px;
  display: flex;
  justify-content: space-between;
}

.header__nav .nav__item {
  font-size: 21px;
  line-height: 25px;
  cursor: pointer;
}

.header__nav .nav__item:hover {
  color: #FDBF5A;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 2em;
}

.page {
  background-color: #fdbf5a40;
  padding: 15vh 0;
}

main {
  position: relative;
}

section {
  position: relative;
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 580px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 55px;
  padding-left: 112px;
  padding-right: 112px;
  
}

.form__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35.16px;
  text-align: center;
  margin-bottom: 57px;
}

.form label {
  font-weight: 700;
  line-height: 18.75px;
  display: flex;
  flex-direction: column;
  padding-bottom: 11px;
  border-bottom: 2px solid #E4E4E4;
}

.form label:not(:last-child) {
  margin-bottom: 25px;
}

.form__input {
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  border: none;
  margin-top: 10px;
}

.form__input:focus-visible {
  outline-color: transparent;
}

.form__forgot {
  line-height: 19px;
  color: #828282;
  margin-top: 13px;
  text-align: right;
  margin-left: auto;
}

.form__submit {
  display: block;
  margin-top: 46px;
  height: 61px;
  width: 100%;
  font-size: 25px;
  line-height: 29px;
  background: #FDBF5A;
  border-radius: 70px;
  color: #000000;
}

.form__other {
  line-height: 19px;
  color: #828282;
  margin-top: 33px;
  text-align: center;
}

.form__other > button {
  color: #FDBF5A;
}