@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #1C1A19;
  padding-top: 21px;
  padding-bottom: 20px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 269px;
}

.header__nav {
  margin-right: 23px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
}

.header__nav .nav__item {
  font-size: 21px;
  line-height: 25px;
  color: white;
  cursor: pointer;
}

.header__nav .nav__item:hover {
  color: #FDBF5A;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 2em;
}

.header__nav .nav__item_active {
  color: #FDBF5A;
}